# Виртуальное окружение
venv/
.env

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Операционные системы
.DS_Store
Thumbs.db

# Логи
*.log
chromedriver.log

# Временные файлы
*.tmp
*.temp

# Отчеты тестов
htmlcov/
.pytest_cache/
test-results/